.main {
    /* height: 1000px; */
    display: block;
    /* padding-top: 140px; */
    /* width: 100%; */
    padding-bottom: 50px;
}

/* same space */
/* 
justify-content:space-between-->左右邊

*/
.product-grid {
    /* border: 2px blue solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    margin: 5% 15%;
    gap: 1rem; /* 或者使用margin在product-card样式中定义 */
}
.productCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .product-grid {
        margin: 5% 5%;
    }
}