.product-card {
    /* flex-basis: calc(20% - 20px);  */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* margin-bottom: 20px;  */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 2px blue solid;
}

.product-card img {
    width: 100%;
    /* height: auto; */
    display: block;
}

.product-info {
    padding: 1rem;
    text-align: center; /* 标题和价格居中 */
}

.product-title {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}
.product-price {
    font-size: 1.2rem;
    color: #333;
}