<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./dashboard.css" rel="stylesheet">
</head>

<body>
    <div id="total" class="info_block" style="width:600px;height:250px;font-size: larger;">
        <div id="number"></div>
    </div>
    <div id="myPieChart" class="info_block" style="width: 600px; height: 400px;"></div>
    <div id="myHistogram" class="info_block" style="width: 600px; height: 400px;"></div>
    <div id="myStacked" class="info_block" style="width: 600px; height: 400px;"></div>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script> -->
    <script src="./dashboard.js"></script>
</body>

</html>